* {
  background-color: #d0f5f3;
}

.loader {
  margin: 20px 20px;
  border: 5px solid white; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 10px;
  height: 10px;
  animation: spin 2s linear infinite;
  display: none;
}
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  
  input {
    border: 1px solid black;
    width: 200px;
  }
  table {
    margin-top: 20px;
  }
  tr, td {
    border: 1px solid black;
    padding: 10px;
  }

.totalCount {
  margin-top: 0.2em;
  margin-bottom: 5em;
}

.modal {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: left;
  border: 3px solid grey;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  width: 400px;
  background: grey;
  top: 0;
}

.message{
  color: white;
  background: grey;
  font-size: 1.3em;
}

.okay-btn{
  border: 1px solid white;
  background: grey;
  text-align: center;
  width: 2rem;
  margin-left: 85%;
  margin-top: 1rem;
  padding: 1px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 1rem;
  cursor: pointer;
}