<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>City Display</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!--HTML content goes here-->
    <input class="input" id="input" type="text"></input>
    <button onclick = onClick(this) class="button" id="btn">Search</button>    
  
     <div class="totalCount" id="totalCount">Total cities found: <span id="numCities"></span></div>

     <div class="loader" id = "loader"></div>
     
     <table class="table" id = "tables">
     </table>
    
    <!--You can load all the javascript files here-->
    <!--load JSON data from server using a GET request-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>


