<!DOCTYPE html>
<html>
    <head>
        <!--Define title-->
        <title>City Search</title>
        
        <!--You can load all the css files here -->
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    
    <body>
        <!--HTML content goes here-->
        <div >
            <ul class='listGroup' id = "list"></ul>
        </div>
        
        <input id="input" type="text"></input>
        <button id="button">Search</button>

         <div class="totalCount" id="totalCount">Total cities found: </div>
         <div class="loader"></div>
         
         <table class="table">
            <tr>
                <th ></th>
            </tr>
         </table>
        
        <!--You can load all the javascript files here-->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="js/script.js"></script>
        
    </body>
</html>






<!--
helpful links:
https://www.youtube.com/watch?v=ru_YWeOh2kU
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/th
https://css-tricks.com/complete-guide-table-element/
https://www.geeksforgeeks.org/how-to-fetch-data-from-json-file-and-display-in-html-table-using-jquery/


https://www.youtube.com/watch?v=SWkPXbQXArk
-->